@{
    ViewBag.Title = "Älytalo";
}



<div class="jumbotron">
    <h1>Älytalo</h1>
    <p class="lead">Tämä on MVC tekniikalla tehty responsiivinen Internet sovellus, jolla voi ohjata netin kautta talon tekniikkaa ja tallentaa arvot Azuressa olevaan tietokantaan.</p>
    <p><a href="/huoneets" class="btn btn-primary btn-lg">Huoneet &raquo;</a></p>
    <p> Testi teksti</p>
</div>



    <div class="row">
        <div class="col-md-4">
            <h2>Valojen hallinta</h2>
            <p>
                Tästä pääset suoraan valojen hallintaan.
            </p>
            <p><a class="btn btn-default" href="/valots">Valot &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Lämpötilojen hallinta</h2>
            <p>Tästä pääset suoraan lämpötilojen hallintaan.</p>
            <p><a class="btn btn-default" href="/lampotilats">Lämpötilat &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Kiukaiden hallinta</h2>
            <p>Tästä pääset suoraan kiukaiden hallintaan.</p>
            <p><a class="btn btn-default" href="/kiukaats">Kiukaat &raquo;</a></p>
        </div>
    </div>
